*{
  font-family: 'Montserrat',sans-serif;
}
.contenitore{
  padding: 0 5%;
}
.blu{
  background-color: rgba(44,62,80)!important;
}
.text-blue{
  color:  rgba(44,62,80);
}
.green{
  background-color: rgba(26,188,156);
}
.gray{
  background-color: #212529;
}
.jumbotron img{
  max-width: 300px;
  max-height: auto;
}
.big{
  font-size: 60px;
}
.line{
  background-color: white;
  width: 150px;
  height: 5px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  vertical-align: 6px;
}
#portfolio h2{
  font-size: 40px;
}
#portfolio img{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  border-radius: 10px;
}
#about h2{
  font-size: 40px;
}
#about button{
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  border: 3px solid white;
}
#contact button{
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 20px;
}
#contact h2{
  font-size: 40px;
}
#contact input{
  border: none;
  border-bottom: 1px solid gray;
}
footer .col-4 p a{
  color: rgba(26,188,156)!important;
}
.final{
  background-color: rgb(21, 34, 48)!important;
  text-align: center;
  color: white;
}