.block1 {
  background-color: red;
  width: 80%;
  height: 500px;
  position: relative;
}
.block2{
  width: 40%;
  height: 200px;
  background-color: blue;
  }
.block2:first-child{
  position: absolute;
}
.block2:nth-child(2){
  position: absolute;
  left: 60%;
  bottom: 300px;
}
.block2:last-child{
  position: absolute;
  left: 60%;
  bottom: 0;
}
