*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: purple;
    color: white;
}
.row{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    margin: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.select{
    align-self: center;
}