h1{
    margin: 0 auto;
    text-align: center;
}
.sinistra{
    padding: 0 5%;
    text-align: start;
}
.square{
    width: 100px;
    height: 100px;
    border: 1px solid red; 
    background-color: white;
    
}

.esercizio1{
    width: 100px;
    height: 100px;
    border: 1px solid red; 
    transition: background-color 3s;
    background-color: white;
}
.esercizio1:hover{
    background-color: red;
}
.esercizio2{
    width: 100px;
    height: 100px;
    border: 1px solid red; 
    transition: width 3s;
    background-color: red;
}
.esercizio2:hover{
    width: 100%;
} 
.esercizio3{
    width: 100px;
    height: 100px;
    border: 1px solid red; 
    transition: border-radius 3s;
    background-color: red;
}
.esercizio3:hover{
    border-radius: 50%;
}
.esercizio4{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color 3s;
}
.esercizio4:hover{
    background-color: white;
}
.esercizio5{
    width: 100px;
    height: 100px;
    border: 1px solid red; 
    transition: all 3s;
    background-color: red;
}
.esercizio5:hover{
    width: 150px;
    height: 150px;
}
.esercizio5:active{
    width: 50px;
    height: 50px;
}
.esercizio6{
    width: 200px;
    height: 200px;
}
.esercizio6:hover{
    filter: grayscale(1);
}
.esercizio7{
    width: 200px;
    height: 200px;
    transition: all 3s;
}
.esercizio7:hover{
    filter: grayscale(1);
}
.esercizio8{
    width: 200px;
    height: 200px;
    transition: all 3s;
}
.esercizio8:hover{
    filter: grayscale(1);
    border-radius: 30px;
}
.esercizio9{
    width: 200px;
    height: 200px;
    transition: all 3s;
}
.esercizio9:hover{
    filter: grayscale(1);
    border-radius: 30px;
    width: 500px;
    height: 300px;
}
.esercizio10{
    border: solid 15px gray;
    border-top: solid 15px white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.esercizio11{
    border: solid 15px gray;
    border-top: solid 15px white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.esercizio11:hover{
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(0deg);}
}
.esercizio12{
    border: solid 5px blue;
    border-radius: 20px;
    padding: 30px;
    width: 100px;
    text-align: center;
    position: relative;
}
.white{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    border: 5px solid white;
}
.esercizio12:hover{
    animation: spinhover 3s ;
}
@keyframes spinhover{
    0% { transform: translateX(0px);}
    50% {transform: translateX(40px);}
}
.esercizio13{
    border: solid 5px blue;
    border-radius: 20px;
    padding: 30px;
    width: 100px;
    text-align: center;
    position: relative;

}
.esercizio13:hover{

}