*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.row{
    width: 50%;
    height: 20vh;
}
.red-text{
    color: red;
}
.underline{
    text-decoration: underline;
}
.blue-text{
    color: lightblue;
}
.pink-text{
    color: pink;
}
.green-text{
    color: green;
}