*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centratura{
    padding: 0 5%;
    width: 90%;
    margin: 0 auto;
}
li{
    list-style: none;
}
nav img{
    width: 200px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.lg li{
    display: inline-block;
}
.ham{
    display: none;
}
@media screen and (max-width:991px){
    .centratura{
        width: 94%;
        padding: 0 3%;
    }
    .ham{
        display: block;
    }
    .lg{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .ham:hover .dropdown{
        display: block;
        position: absolute;
        left: 0;
        top: 60px;

    }
}

/* main */

/* customer */
#customer{
    background-color: #ccc;
    text-align: center;
}
#customer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#customer ul img{
    width: 200px;
    height: auto;
}


