[class*="col-"]{
  background-color: white;
  min-height:100px;
  text-align: center;
}
img{
  max-width: auto;
  height: 200px;
}
.grey{
  background-color: #f9f9f9;
  height: auto;
}
[class*="col-lg-8"] img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px;
}
.row.grey div{
  background-color: #f9f9f9;
}
.col-offset-xs-12{
  min-height: 50px;
}
