<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="app.js"></script>

</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <img v-if="firstImg" src="https://www.imgacademy.com/themes/custom/imgacademy/images/helpbox-contact.jpg" alt="" width="100px" height="100px">
            <img v-else src="https://media-cdn.tripadvisor.com/media/photo-s/15/a4/9b/77/legacy-hotel-at-img-academy.jpg" alt="" width="100px" height="100px">
            <button @click="flipImg">Flip img</button>
            <button @click="addNumber">+</button>
            <button @click="flipValue">Flip</button>
            <button @click="increaseFirstNumber">start +</button>
            <div>
                <div class="numbers" v-for="item in limit">
                    <p v-if="item%2==value && item>inc">{{ item }}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>