*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bottone{
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all 2s;
  animation: muoviti 4s ease;
  position: absolute;
}
.bottone:hover{
  background-color: red;
  width: 200px;  
}
/* animazioni */
@keyframes muoviti{
  0% {left:0; top:0;}
  25% {left: calc(100% - 100px); top: 0;}
  50% {left: calc(100% - 100px); top: calc(100% - 100px);}
  75% {left: 0; top: calc(100% - 100px);}
  100% {left: 0; top: 0;}
}
.container{
  margin: 100px;
}
.container img{
  filter: grayscale(1);
  transition: all 3s;
}
.container img:hover{
  filter: none;
}