/* regole generali */
*{
  margin: 0;
  padding: 0;
  /* border: 0; */
  box-sizing: border-box;
}
p.classe1 span {
  color: red;
}
a{
  display: inline-block;
  height: 50px;
  width: 150px;
  line-height: 50px;
  text-align: center;
  background-color: #ccc;
  text-decoration: none;
}

a:hover {
  background-color: #999;
}
input:focus {
  background-color: red;
  
}

input{
  padding: 20px;
  border: solid 3px #000;
}
input[type=email]{
  border-color: blue;
}
ul li:first-child{
  color:yellow;
}
