* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: purple;
    color: black;
    flex-direction: row;
    justify-content: center;
}
.container > *{
    margin: auto;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .number {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}